@use "../abstracts/variables" as variable;

* {
    box-sizing: border-box;
};

body {
    font-family: variable.$font-primary;
    margin: 0;
    background-color: variable.$color-black;
    color:white;
};

section {
    margin-bottom: 3rem;
};

h1, h2 {
    font-family: variable.$font-title-1-2;
}
ul {
    list-style: none;
    padding-left: 0;
}

h4 {
    font-size: 1.4rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}