@font-face {
    font-family: "ResidentEvil Medium";
    src: url(../fonts/Resident-Evil-7-Regular/Resident\ Evil\ 7\ Regular.otf);
    font-weight: 500;
};

@font-face {
    font-family: "Figtree SemiBold";
    src: url(../fonts/Figtree/static/Figtree-SemiBoldItalic.ttf);
    font-weight: 600;
};

@font-face {
    font-family: "Figtree Regular";
    src: url(../fonts/Figtree/static/Figtree-Regular.ttf);
    font-weight: 400;
};

@font-face {
    font-family: "Figtree Thin";
    src: url(../fonts/Figtree/static/Figtree-Regular.ttf);
    font-weight: 100;
};