@use "../base/typographys";

$font-title-1-2: "ResidentEvil Regular";
$font-strong: "Figtree Bold";
$font-primary: "Figtree Regular";
$font-commantary: "Figtree Light";

$color-primary: #700C0C;
$color-secondary: #5A0303;
$color-thirdary: #727070;
$color-accent: #615F5F;
$color-black: #1C1515;