@use "../abstracts/variables" as variable;
.submit-btn {
    padding: 16px 0px;
    border-radius: 10px;
    width: 40%;
    background-color: variable.$color-black;
    color: variable.$color-thirdary;
    cursor: pointer;
}

.devis__wrapper {
    .submit-btn {
        background-color: variable.$color-primary;
        border: none;
        color: variable.$color-white;
    }
}
.submit-btn:hover {
    background-color: variable.$color-secondary;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.cta-primary {
    a {
        display: flex;
        gap: 1rem;
        padding: 12px 20px;
        background-color: variable.$color-primary;
        border-radius: 16px;
        align-items: center;
        margin-top: 10rem;
        justify-content: center;
        transition: all 0.3s ease;
    }
    .fa-solid {
        color: yellow;
    }
    a:hover {
      background-color: variable.$color-secondary;
      transform: translateY(-3px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
}