@use "../abstracts/variables" as variable;

.contact__wrapper {
    background-color: variable.$color-primary;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .contact-us__wrapper {
        width: 30%;
        color: variable.$color-thirdary;
        .contact__phone, .contact__mail {
            display: flex;
            align-items: center;
            gap: 1rem;
            .fa-solid {
                font-size: 1.3rem;
            }
        }
        .contact__reseaux {
            font-size: 2rem;
            margin-top: 8rem;
            display: flex;
            gap: 1.3rem;
            a {
                color: variable.$color-thirdary;
            }
        }
    }
    .contact__formulaire {
        width: 30%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        .form {
            border-radius: 10px;
            padding: 12px 8px;
            background-color: variable.$color-black;
            color: variable.$color-thirdary;
        }
    }
}
.contact__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-footer a{
        display: flex;
        justify-content: center;
    }
    img {
        width: 10%;
    }
    p {
        color: variable.$color-thirdary;
        font-size: 0.9rem;
    }
}

