@font-face {
  font-family: "ResidentEvil Regular";
  src: url(../fonts/Resident-Evil-7-Regular/Resident\ Evil\ 7\ Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Figtree Bold";
  src: url(../fonts/Figtree/static/Figtree-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Figtree Regular";
  src: url(../fonts/Figtree/static/Figtree-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Figtree Light";
  src: url(../fonts/Figtree/static/Figtree-Light.ttf);
  font-weight: 300;
}
.contact__wrapper {
  background-color: #700C0C;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact__wrapper .contact-us__wrapper {
  width: 30%;
  color: #727070;
}
.contact__wrapper .contact-us__wrapper .contact__phone, .contact__wrapper .contact-us__wrapper .contact__mail {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact__wrapper .contact-us__wrapper .contact__phone .fa-solid, .contact__wrapper .contact-us__wrapper .contact__mail .fa-solid {
  font-size: 1.3rem;
}
.contact__wrapper .contact-us__wrapper .contact__reseaux {
  font-size: 2rem;
  margin-top: 8rem;
  display: flex;
  gap: 1.3rem;
}
.contact__wrapper .contact-us__wrapper .contact__reseaux a {
  color: #727070;
}
.contact__wrapper .contact-us__wrapper .contact__reseaux a:hover {
  color: #1C1515;
  transform: scale(1.2) rotate(-3deg);
  transition: all 0.3s ease;
  text-shadow: 0 0 8px #5A0303;
}
.contact__wrapper #contactform {
  width: 30%;
}
.contact__wrapper #contactform .contact__formulaire {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.contact__wrapper #contactform .form {
  border-radius: 10px;
  padding: 12px 8px;
  background-color: #1C1515;
  color: #727070;
}

.contact__copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__copy .logo-footer a {
  display: flex;
  justify-content: center;
}
.contact__copy img {
  width: 10%;
  transform: scale(1) rotate(0deg);
  transition: all 0.3s ease;
}
.contact__copy img:hover {
  transform: scale(1.1) rotate(-60deg);
  transition: all 0.3s ease;
}
.contact__copy p {
  color: #727070;
  font-size: 0.9rem;
}

header {
  margin-top: 5rem;
}
header nav {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  background-color: #700C0C;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  border-radius: 18px;
}
header nav ul div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header nav .menu-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5rem;
  list-style: none;
  position: relative;
  padding: 0;
  margin-right: 0;
}
header nav .menu-principal > li {
  font-size: x-large;
  position: relative;
  padding: 10px;
}
header nav .menu-principal > li img {
  transform: scale(1) rotate(0deg);
  transition: all 0.3s ease;
}
header nav .menu-principal > li img:hover {
  transform: scale(1.1) rotate(-60deg);
  transition: all 0.3s ease;
}
header nav .sous-menus {
  position: absolute;
  background-color: #700C0C;
  border-radius: 18px;
  margin-top: 0.5rem;
  box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
  transform: scaley(0);
  border: 0.5px solid black;
}
header nav .sous-menus li a {
  color: white;
}
header nav .sous-menus li:hover {
  background-color: black;
  border-radius: 18px;
}
header nav .dropdown:hover .sous-menus {
  display: block;
  transform: scaley(1);
}
header nav .sous-menus li {
  padding: 10px;
  white-space: nowrap;
}
header nav .logo-header {
  justify-content: center;
}
header nav .logo-header img {
  width: 80px;
}
header nav img:hover {
  transform: scale(1.1) rotate(-60deg);
  transition: all 0.3s ease;
}
header #search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .search-wrapper {
  position: absolute;
  top: 14rem;
  background-color: #700C0C;
  border-radius: 18px;
  padding: 1rem;
}
header .search-wrapper.compact:not(.active) {
  padding: 1rem;
}
header .search-wrapper.compact:not(.active) #search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}
header .search-wrapper.compact {
  position: fixed;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 52px;
}
header .search-wrapper i {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(60%);
  transform: translateX(80%);
  color: #727070;
}
header #search-input {
  padding-left: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 18px;
}

@keyframes slideDown {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.search-wrapper.compact.active #search-input {
  height: 45px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.search-wrapper.compact.active {
  width: auto;
}

.submit-btn {
  padding: 16px 0px;
  border-radius: 10px;
  width: 40%;
  background-color: #1C1515;
  color: #727070;
  cursor: pointer;
}

.devis__wrapper .submit-btn {
  background-color: #700C0C;
  border: none;
  color: #ffffff;
}

.submit-btn:hover {
  background-color: #5A0303;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Figtree Regular";
  margin: 0;
  background-color: #1C1515;
  color: white;
}

section {
  margin-bottom: 3rem;
}

h1, h2 {
  font-family: "ResidentEvil Regular";
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

h3 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 100;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.devis__wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;
  border: solid 3px #727070;
  padding: 2rem 4rem;
  border-radius: 15px;
  background-color: #ffffff;
  color: #1C1515;
  margin-top: 16rem;
}
.devis__wrapper p {
  color: #727070;
  font-size: 0.9rem;
  margin-top: 0;
}
.devis__wrapper h3 {
  margin-bottom: 0;
  color: #1C1515;
}
.devis__wrapper .devis__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.devis__wrapper .star {
  color: #700C0C;
}
.devis__wrapper .devis__submit {
  text-align: center;
  margin-top: 3rem;
}
.devis__wrapper .devis__input {
  border-radius: 15px;
  padding: 0.8rem;
  border: 1px solid #1C1515;
}

.services {
  margin-top: 16rem;
  background: url("../img/horde rouge.PNG") center/cover no-repeat;
  height: 20rem;
}
.services h2 {
  font-family: "ResidentEvil Regular";
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1rem;
  text-align: center;
}
.services .services-text {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 40%;
  color: black;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.services:hover h2 {
  opacity: 1;
  animation: right 2s ease 0s 1 normal forwards;
  text-align: start;
}
.services:hover .services-text {
  opacity: 1;
  animation: right 2s ease 0s 1 normal forwards;
}
.services:hover .gradiant {
  background: #000000;
  background: linear-gradient(90deg, #727070, rgba(255, 255, 255, 0.51) 47%, rgb(255, 255, 255) 100%);
  transform: translateX(0%);
  opacity: 1;
  width: 100%;
  height: 100%;
}

@keyframes right {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }
  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}
@keyframes test {
  0% {
    opacity: 0;
    transform: rotateY(70deg);
    transform-origin: right;
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: right;
  }
}
.banner__wrapper {
  background-image: url(../../assets/img/bg-banner.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 110vh;
  margin-top: -10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 22rem;
}
.banner__wrapper .banner__text {
  text-align: center;
  text-shadow: 1px 1px #1C1515;
}
.banner__wrapper .banner__cta-primary {
  width: 10%;
}
.banner__wrapper .banner__cta-primary a {
  display: flex;
  gap: 1rem;
  padding: 12px 18px;
  background-color: #700C0C;
  border-radius: 16px;
  align-items: center;
  margin-top: 10rem;
  justify-content: center;
}
.banner__wrapper .banner__cta-primary .fa-solid {
  color: yellow;
}

.agence__wrapper {
  display: flex;
  width: 50%;
  gap: 6rem;
}
.agence__wrapper h3 {
  color: #ffffff;
}
.agence__wrapper .agence__text {
  width: 70%;
  color: #727070;
}
.agence__wrapper img {
  border-radius: 16px;
  border: 2px solid #ffffff;
}

.carousel__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  overflow: hidden;
}
.carousel__wrapper h3 {
  text-align: center;
}
.carousel__wrapper .name-avis {
  font-weight: 600;
}

.carousel-row {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  animation: scroll-left 5s linear infinite;
}

.left-to-right .carousel-track {
  animation-name: scroll-left;
}

.right-to-left .carousel-track {
  animation-name: scroll-right;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.carousel-item {
  flex: none;
  width: 25%;
  margin-right: 4rem;
  color: #1C1515;
  background-image: url(../../assets/img/gray-texture.jpg);
  padding: 2rem;
  border-radius: 16px;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: normal;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 16rem));
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(calc(-50% - 8rem));
  }
  100% {
    transform: translateX(0);
  }
}
body {
  position: relative;
}

#background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 20%;
  background-size: cover;
  background-position: center;
}

.bg-event-mariage {
  background-image: url(../img/mariageBG.png);
}

.bg-event-teams {
  background-image: url(../img/mainsBG.png);
}

.bg-event-traiteur {
  background-image: url(../img/traiteurBG.png);
}

.bg-event-musique {
  background-image: url(../img/mariageBG.png);
}

.bg-event-anniversaire {
  background-image: url(../img/mariageBG.png);
}

.bg-event-bapteme {
  background-image: url(../img/mariageBG.png);
}

main {
  margin-top: 25rem;
  text-align: center;
}

h2 {
  margin: 2.5rem 0;
}

/*# sourceMappingURL=style.css.map */
