
#background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 20%;
    background-size: cover;
    background-position: center;
}

.bg-event-mariage {
    background-image: url(../img/mariageBG.png);
    
}
.bg-event-teams {
    background-image: url(../img/mainsBG.png);
}
.bg-event-traiteur {
    background-image: url(../img/traiteurBG.png);
}
.bg-event-musique {
    background-image: url(../img/mariageBG.png);
}
.bg-event-anniversaire {
    background-image: url(../img/mariageBG.png);
}
.bg-event-bapteme {
    background-image: url(../img/mariageBG.png);
}

