#body {
    position: relative;
}

#background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    bottom: 11.3rem;
    left: 0;
    opacity: 20%;
    background-size: cover;
}

.bg-event-mariage {
    background-image: url(../img/mariageBG.png);
}
.bg-event-teams {
    background-image: url(../img/mainsBG.png);
}
.bg-event-traiteur {
    background-image: url(../img/traiteurBG.png);
}
.bg-event-musique {
    background-image: url(../img/thekingBG.png);
}
.bg-event-anniversaire {
    background-image: url(../img/birthdayBG.png);
}
.bg-event-bapteme {
    background-image: url(../img/monkBG.png);
}

#main {
    margin-top: 25rem;
    text-align: center;
    #event-texte, #event-button {
        .container {
            display: flex;
            justify-content: center;
        }
    }
    #event-button {
        .container {
            display: flex;
            justify-content: center;
        }
        a {
            margin-top: 3rem;
        }
    }
}

.event-title {
    margin: 2.5rem 0;
}

.event-texte {
    width: 60%;
}

.event-cards-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.big-screen {
    position: absolute;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.event-card {
    width: 32%;
    max-height: 20vh;
}

@media screen and (min-width: 1980px) {
    .event-card {
        max-height: 50vh;
    }
}

@media screen and (max-width: 998px) {
    .event-card {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .event-cards-container {
        flex-direction: column;
        align-items: center;
    }
    .event-card {
        width: 100%;
        max-height: 60vh;
    }
    .responsive-desactivate {
        display: none !important;
    }
}