@use "../abstracts/variables" as variable;
//BANNER
.banner__wrapper{
    background-image: url(../../assets/img/bg-banner.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 110vh;
    margin-top: -10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 22rem;
    .banner__text {
        text-align: center;
        text-shadow: 1px 1px variable.$color-black;
    }
    .banner__cta-primary {
        width: 10%;
        a {
            display: flex;
            gap: 1rem;
            padding: 12px 18px;
            background-color: variable.$color-primary;
            border-radius: 16px;
            align-items: center;
            margin-top: 10rem;
            justify-content: center;
        }
        .fa-solid {
            color: yellow;
        }
    }
}

.agence__wrapper {
    display: flex;
    width: 50%;
    gap: 6rem;
    .agence__text {
        width: 70%;
        color: variable.$color-thirdary;
    }
    img {
        border-radius: 16px;
        border: 2px solid variable.$color-white;
    }
}

.carousel__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    .name-avis {
        font-weight: 600;
    }
  }
  
  .carousel-track {
    display: flex;
    gap: 4rem;
    animation: scroll 60s linear infinite;
  }
  
  .carousel-row {
    width: 100%;
  }
  
  /* Pour scroll vers la gauche */
  .left-to-right .carousel-track {
    animation-name: scroll-left;
  }
  
  /* Pour scroll vers la droite */
  .right-to-left .carousel-track {
    animation-name: scroll-right;
  }
  
  /* Stop l’animation quand on survole */
  .carousel-track:hover {
    animation-play-state: paused;
  }
  
  .carousel-item {
    flex: 0 0 25%;
    background-image: url(../../assets/img/gray-texture.jpg);
    color: variable.$color-black;
    padding: 2rem;
    border-radius: 16px;
    font-size: 1rem;
    white-space: normal;
    box-sizing: border-box;
  }
  
  /* Animations */
  @keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  @keyframes scroll-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }

