@use "../abstracts/variables" as variable;
//BANNER
.banner__wrapper{
    background-image: url(../../assets/img/bg-banner.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 110vh;
    margin-top: -10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 22rem;
    .banner__text {
        text-align: center;
        text-shadow: 1px 1px variable.$color-black;
    }
    .banner__cta-primary {
        width: 10%;
        a {
            display: flex;
            gap: 1rem;
            padding: 12px 18px;
            background-color: variable.$color-primary;
            border-radius: 16px;
            align-items: center;
            margin-top: 10rem;
            justify-content: center;
        }
        .fa-solid {
            color: yellow;
        }
    }
}

.agence__wrapper {
    display: flex;
    width: 50%;
    gap: 6rem;
    .agence__text {
        width: 70%;
        color: variable.$color-thirdary;
    }
    img {
        border-radius: 16px;
        border: 2px solid variable.$color-white;
    }
}