@use "../abstracts/variables" as variable;

.services {
    top:16rem;
    position: relative;
    background: url('../img/horde\ rouge.PNG') center/cover no-repeat;
    height: 20rem;
    h2 {
        font-family: variable.$font-title-1-2;
        font-size: 6rem;
        font-weight: 500;
        letter-spacing: 1rem;
        text-align: center;
        margin-left: 8rem;
    }

    .services-text{
        position: absolute;             
        top: 50%;                      
        right: 10%;
        transform: translateY(-50%);    
        width: 40%;                     
        color: black;                    
        font-size: 18px;                 
        opacity: 0;                      
        transition: opacity 0.4s ease;   
    }
}
.services:hover  {
    h2 {
        opacity: 1;
        animation: right 2s ease 0s 1 normal forwards;
        text-align: start;
    }
    .services-text{

        opacity: 1;
        animation: right 2s ease 0s 1 normal forwards;
    }
    .gradiant {
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateX(100%);
        
    }
    .gradiant:hover {
        background: #000000;
    background: linear-gradient(90deg, variable.$color-thirdary, rgba(255, 255, 255, 0.51) 47%, rgba(255, 255, 255, 1) 100%);
        transform: translateX(0%);
    opacity: 1;

    }

}




  @keyframes right {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}


}
@keyframes test {
    0% {
        opacity: 0;
        transform: rotateY(70deg);
        transform-origin: right;
    }

    100% {
        opacity: 1;
        transform: rotateY(0);
        transform-origin: right;
    }
}
